.profile-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5%;
  @media (max-width: $md1) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: $md2) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $md3) {
    grid-template-columns: repeat(1, 1fr);
  }
}
