$title: #14142b;
$background: #f7f7fc;
$green: #00ba88;
$label: #6e7191;
$line: #d6d8e7;
$body: #4e4b66;
$offWhite: #fcfcfc;
$cardBackground: #fcfcfc80;
$inputBag: #eff0f6;
$editHover: #624af2;
$deleteHover: #eb0055;
$danger: #ff5353;

$plusSize: 15px;
$dashboardPageWidth: 250px;
