@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  background: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.profile-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 5%;
}

@media (max-width: 1250px) {
  .profile-cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 868px) {
  .profile-cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 660px) {
  .profile-cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.sign-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.sign-page__title {
  font-weight: 600;
  font-size: 48px;
  margin: 120px 0;
}

.sign-page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.sign-page__form button {
  white-space: nowrap;
  margin: 0 auto;
  font-size: 24px;
  padding: 10px 25px;
  background: #eff0f6;
  width: auto;
  border-radius: 12px;
}

.sign-page__form input {
  width: 100%;
}

.sign-page__form .alert {
  margin-top: -70px;
  margin-bottom: 50px;
}

.sign-page__form-link {
  margin-top: 20px;
  color: blue !important;
}

.input-group {
  margin-bottom: 25px;
  width: 100%;
}

.input-group input {
  border-bottom: 1px solid #d6d8e7;
  font-size: 24px;
}

.radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.radio-group p {
  font-size: 18px;
  color: #14142b;
}

.radio-group div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-label {
  color: #6e7191;
  font-size: 18px;
  margin-bottom: 5px;
}

.checkbox-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.checkbox-group input {
  width: auto;
}

.checkbox-group div {
  margin-left: 10px;
  color: #14142b;
  font-size: 24px;
}

.stats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 2fr;
  gap: 50px;
}

@media (max-width: 1250px) {
  .stats {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 868px) {
  .stats {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.dashboard-card {
  padding: 80px 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1250px) {
  .dashboard-card:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media (max-width: 868px) {
  .dashboard-card:last-child {
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

.dashboard-card__value {
  color: #14142b;
  font-weight: 600;
  font-size: 48px;
}

.users {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

@media (max-width: 1250px) {
  .users {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 868px) {
  .users {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 660px) {
  .users {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.user-card {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-card div {
  margin-bottom: 20px;
  font-size: 24px;
  color: #4e4b66;
}

.user-card div:first-child {
  font-weight: 500;
}

.user-card div:last-child {
  margin-bottom: 0;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #14142b;
}

.user p {
  margin-bottom: 20px;
}

.user__name, .user__email {
  font-size: 32px;
}

.user__role {
  font-size: 24px;
}

.user__buttons i:first-child {
  margin-right: 15px;
}

.user__buttons i:last-child {
  margin-left: 15px;
}

.navbar {
  background: #f7f7fc;
  -webkit-box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
          box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
  padding: 16px 0;
}

.navbar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__user-name {
  font-weight: 600;
  color: #14142b;
  font-size: 18px;
  margin-left: 25px;
}

.navbar__user img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.navbar__links-item {
  margin-left: 45px;
}

.navbar__links-item:last-child {
  margin-left: 0;
}

.navbar__links button {
  margin-left: 100px;
}

.profile-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  color: #4e4b66;
  height: 300px;
}

.profile-card__info {
  margin: auto;
  text-align: center;
  color: #4e4b66;
  font-size: 24px;
}

.profile-card__info p {
  margin-bottom: 20px;
}

.profile-card__info p:last-child {
  margin-bottom: 0;
}

.profile-card__info p:first-child {
  font-weight: 500;
}

.add-card__plus {
  font-size: 30px;
  border: 1px solid #4e4b66;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-top: auto;
  position: relative;
}

.add-card__plus:before, .add-card__plus:after {
  content: "";
  position: absolute;
  background: #4e4b66;
}

.add-card__plus:before {
  left: 50%;
  top: 15px;
  bottom: 15px;
  width: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.add-card__plus:after {
  top: 50%;
  left: 15px;
  right: 15px;
  height: 2px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.add-card__title {
  margin-bottom: auto;
  margin-top: 30px;
  font-size: 20px;
}

.profile-changes {
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-changes i {
  margin-left: 6px;
}

.profile-changes button {
  cursor: pointer;
  width: 50%;
  border-top: 1px solid #d6d8e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.profile-changes button:first-child {
  border-right: 1px solid #d6d8e7;
}

.profile-changes__edit:hover {
  background: #624af2;
  color: #fcfcfc;
}

.profile-changes__delete:hover {
  background: #eb0055;
  color: #fcfcfc;
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__content {
  background: #fcfcfc;
  border-radius: 16px;
  padding: 70px 175px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-modal__form input {
  border-bottom: 1px solid #14142b;
  color: #14142b;
  font-size: 24px;
  width: 100%;
}

.modal__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.modal__buttons button {
  padding: 10px 0;
  background: #eff0f6;
  width: 40%;
  border-radius: 9px;
}

.alert {
  width: 100%;
  padding: 20px 0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.alert-danger {
  background: #ff5353;
}

.alert__message {
  color: #fcfcfc;
  font-size: 24px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: #f7f7fc;
}

.container {
  margin: 0 7%;
}

.page {
  padding: 36px 7% 80px;
}

.title {
  margin-bottom: 36px;
  color: #14142b;
  font-size: 36px;
}

.card {
  background: #fcfcfc80;
  border: 1px solid #d6d8e7;
  border-radius: 16px;
  -webkit-box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
          box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
}
/*# sourceMappingURL=style.css.map */